<ul class="gallery js-gallery">
  <include src="./partials/gallery/item.html">
    {
      "preview": "images/previews/himilayan-blue-poppy.webp",
      "original": "images/originals/himilayan-blue-poppy.webp",
      "description": "Hokkaido Flower"
    }  
  </include>

  <include src="./partials/gallery/item.html">
    {
      "preview": "images/previews/container.webp",
      "original": "images/originals/container.webp",
      "description": "Container Haulage Freight"
    }  
  </include>

  <include src="./partials/gallery/item.html">
    {
      "preview": "images/previews/beach.webp",
      "original": "images/originals/beach.webp",
      "description": "Aerial Beach View"
    }  
  </include>

  <include src="./partials/gallery/item.html">
    {
      "preview": "images/previews/flowers.webp",
      "original": "images/originals/flowers.webp",
      "description": "Flower Blooms"
    }  
  </include>

  <include src="./partials/gallery/item.html">
    {
      "preview": "images/previews/mountains.webp",
      "original": "images/originals/mountains.webp",
      "description": "Alpine Mountains"
    }  
  </include>
    
    <include src="./partials/gallery/item.html">
      {
        "preview": "images/previews/landscape.webp",
        "original": "images/originals/landscape.webp",
        "description": "Mountain Lake Sailing"
      }  
    </include>

    <include src="./partials/gallery/item.html">
      {
        "preview": "images/previews/the-alps.webp",
        "original": "images/originals/the-alps.webp",
        "description": "Alpine Spring Meadows"
      }  
    </include>

    <include src="./partials/gallery/item.html">
      {
        "preview": "images/previews/landscape2.webp",
        "original": "images/originals/landscape2.webp",
        "description": "Nature Landscape"
      }  
    </include>

    <include src="./partials/gallery/item.html">
      {
        "preview": "images/previews/lighthouse.webp",
        "original": "images/originals/lighthouse.webp",
        "description": "Lighthouse Coast Sea"
      }  
    </include>    
</ul>